:root {
  --primary: #46af4d;
  --text-secondary: #1c1d4e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.header {
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  padding-bottom: 64px;
  position: relative;
}

.header.home {
  min-height: 100vh;
}

.bg-video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bg-video video {
  width: 100%;
  object-fit: cover;
  min-height: 100vh;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}

.top-bar .logo {
  width: 240px;
}

.header.home .top-bar {
  background-color: transparent;
}

.header.home .top-bar .logo {
  width: 300px;
}

.spacer {
  flex-grow: 1;
}

ul.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-left: 48px;
}

.menu li > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 12px;
  position: relative;
  color: #090d2c;
}

.header.home .menu li > a {
  color: white;
}

.menu li a:hover,
.menu li a.active {
  color: var(--primary);
}

.menu li a:hover::after,
.menu li a.active::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 6px;
  border-radius: 4px;
  background-color: var(--primary);
  left: 50%;
  bottom: 0;
}

.toggle {
  all: unset;
  display: none;
  padding: 12px;
  padding-bottom: 8px;
  border-radius: 6px;
}

.toggle:hover,
.toggle:active {
  background-color: #46af4d22;
}

h1.headline {
  margin-top: 78px;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.break {
  display: block;
}

.details {
  margin-top: 16px;
  text-align: center;
  font-size: 22px;
}

.stats {
  text-align: center;

  .stats > .stat {
    margin: 12px;
  }
  margin-left: 120px;
}

.stats > .stat {
  margin: 24px;
  text-align: start;
  display: inline-block;
}

.stat-figure {
  font-weight: 600;
  font-size: 48px;
}

.stat-info {
  font-size: 14px;
}

.quote {
  color: var(--primary);
  font-size: 64px;
}

.quote:last-of-type {
  text-align: end;
}

.large-text {
  font-size: 24px;
  padding: 0 180px;
}

.team {
  padding: 64px;
  background-color: #f5f5f5;
}

.team > h2 {
  font-weight: 700;
  font-size: 48px;
}

.team-members {
  margin-top: 48px;
  margin-bottom: 24px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.team-members::-webkit-scrollbar {
  display: none;
}

.member {
  display: inline-block;
  margin-right: 12px;
}

.member img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 240px;
  height: 120px;
  object-fit: cover;
}

.member .member-details {
  position: relative;
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 64px;
  background-color: white;
  margin-top: -12px;
  z-index: 2;
}

.member .member-details strong {
  font-weight: 600;
}

.team h3 {
  font-weight: 700;
  font-size: 28px;
}

.team h3 {
  font-weight: 600;
  font-size: 20px;
}

.why-choose {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.why-choose .images {
  position: relative;
}

.why-choose .coffee-beans {
  width: 600px;
  object-fit: cover;
  /* height: 453px; */
}

.why-choose .images .coffee-cup {
  position: absolute;
  bottom: -400px;
  left: 0;
}

.why-choose .list {
  padding: 72px 32px;
}

.why-choose h2 {
  font-size: 52px;
  font-weight: 700;
  color: #1c1d4e;
  margin-bottom: 64px;
}

.green {
  color: var(--primary);
}

.external-link {
  font-weight: 600;
  color: #086bed;
}

.why-choose .list .impact {
  background-color: #46af4d22;
  font-size: 14px !important;
}

.why-choose .list .impact:hover p {
  cursor: default;
}

.impact-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.impact {
  padding: 24px;
  background-color: white;
  border-radius: 12px;
}

.impact h3 {
  font-weight: 600;
  font-size: 20px;
  color: #1c1d4e;
  margin-bottom: 10px;
}

.impact p {
  font-size: 12px;
  color: #1c1d4e;
  margin: 0 !important;
}

.impact ul {
  margin-top: 16px;
}

.impact ul li {
  color: #1c1d4e;
  font-size: 12px;
  margin-bottom: 12px;
}

.impact ul li strong {
  color: var(--primary);
}

.farmers {
  padding: 120px;
  text-align: center;
}

.farmers h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1c1d4e;
  margin-bottom: 32px;
}

.farmers p {
  margin-bottom: 72px;
}

.farmers-list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}

.farmer {
  border-radius: 8px;
  border: 1px solid #eceff4;
  vertical-align: top;
}

.farmer .farmer-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.farmer-info {
  padding: 18px;
  text-align: start;
}

.farmer-info .date {
  font-family: "Nunito Sans", "Poppins", sans-serif;
  font-size: 12px;
  color: #80848e;
  margin-bottom: 16px;
}

.farmer-info .name {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #090d2c;
}

.farmer-info p {
  color: #525760;
  margin: 16px 0;
  font-size: 12px;
}

.farmer-footer {
  display: flex;
}

.farmer-footer .read-more {
  flex-grow: 1;
}

.farmer-footer .read-more a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}

.farmer-footer .eye {
  padding: 6px 12px;
  background-color: #f0f3f8;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.eye img {
  vertical-align: middle;
}

.show-more {
  padding: 32px;
  text-align: center;
  position: relative;
}

.show-more button {
  all: unset;
  padding: 12px 24px;
  border: 3px solid var(--primary);
  border-radius: 12px;
  font-weight: 700;
  font-family: "Nunito Sans", "Poppins", sans-serif;
  color: var(--primary);
}

.show-more img {
  position: absolute;
  top: -160px;
  left: -24px;
}

.chairman {
  display: grid;
  gap: 96px;
  grid-template-columns: 1fr 1fr;
  padding: 120px;
  /* padding-bottom: 120px; */
}

.chairman h2 {
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #1c1d4e;
}

.chairman p {
  color: #4d4d4d;
  margin-top: 36px;
}

.chairman hr {
  border-color: var(--primary);
  margin: 32px 0;
  border-width: 0.5px;
}

.chairman-name {
  font-family: "Montserrat", "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
}

.chairman-title {
  color: #80848e;
  margin-top: 12px;
  font-style: italic;
}

.become-member {
  all: unset;
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 16px;
}

.footer {
  background: url("contact-bg.svg") no-repeat left bottom fixed;
  background-color: #efeff8;
  background-size: 360px;
  padding: 64px 120px;
  color: #090d2c;
}

.footer hr {
  border-color: #1c1d4e1f;
  margin-top: 36px;
  margin-bottom: 64px;
}

.footer-info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-bottom: 72px;
  gap: 16px;
}

.footer-info .form {
  max-width: 420px;
}

.footer-info input {
  height: 48px;
  margin: 32px 0;
}

.footer-info input,
.footer-info textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 16px;
}

.footer-info input:focus,
.footer-info textarea:focus {
  outline: 4px solid var(--primary);
}

.footer-info a {
  display: inline-block;
  margin-bottom: 12px;
  text-decoration: none;
  color: #090d2c;
  font-size: 14px;
}

.footer-info a:visited {
  color: #090d2c;
}

.footer-info a:hover {
  color: var(--primary);
}

.copyright {
  text-align: center;
  margin-top: 48px;
  font-weight: 600;
  font-family: "Nunito Sans", "Poppins", sans-serif;
}

.copyright .handle {
  color: var(--primary);
}

.footer-title {
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 24px;
  display: inline-block;
}

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.contacts img {
  margin-right: 14px;
}

.contacts .info {
  font-weight: 600;
}

.contacts .info small {
  color: #4d4d4d;
  font-weight: 400;
}

.socials {
  margin-top: 48px;
}

.socials a {
  display: inline-block;
  margin-right: 24px;
}

.partnership {
  font-size: 24px;
  padding: 0 180px;
}

/**VARIETIES**/
.varieties {
  background-color: #efeff8;
  padding: 96px;
  padding-top: 160px;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  color: #1c1d4e;
  margin-bottom: 32px;
  text-align: center;
}

.varieties p {
  color: #1c1d4e;
  margin-bottom: 48px;
  font-size: 24px;
  text-align: center;
}

.variety-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.variety {
  border-radius: 12px;
  background: url("variety-bg.svg") no-repeat bottom right;
  background-color: white;
}

.variety img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.variety-info {
  padding: 24px;
}

.variety h3 {
  font-weight: 600;
  font-size: 20px;
}

.variety p {
  font-size: 12px;
  color: #1c1d4e;
  text-align: start;
}

.variety-mug {
  position: relative;
}

.variety-mug img {
  position: absolute;
  right: 0;
  /* bottom: -270px; */
  top: -120px;
}
/**VARIETIES**/

/**COMMUNITY IMPACT **/
.community-impact {
  background-color: #efeff8;
  padding: 96px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
}

.community-impact h2 {
  font-size: 56px;
  font-weight: 700;
  color: #1c1d4e;
  margin-bottom: 16px;
}

.community-impact .emphasis {
  font-size: 72px;
}

.highlight {
  position: relative;
}

.highlight::after {
  left: 48%;
  bottom: -16px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 36px;
  height: 10px;
  border-radius: 10px;
  background-color: #086bed;
}

.community-impact p {
  color: #1c1d4e;
  margin: 48px auto;
}

.community-impact .photo {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 32px;
}

.community-initiatives {
  background-color: white;
  padding: 120px;
}

.community-initiatives .section-title {
  margin-bottom: 64px;
}

.community-initiatives .impact-cards {
  grid-template-columns: repeat(4, 1fr);
}

.community-initiatives .impact {
  background-color: #46af4d22;
}
/**COMMUNITY IMPACT **/

/** ABOUT US**/
.grayscale {
  filter: grayscale(1);
}

.impact-cards.mission-vision {
  grid-template-columns: 1fr 1fr;
}

.impact-cards.mission-vision .impact h3 {
  font-size: 28px;
}

.impact-cards.mission-vision .impact p {
  font-size: 18px;
}

.community-impact.roots {
  background-color: #fff !important;
}

.community-impact.roots p {
  font-size: 24px;
}
/** ABOUT US**/

.commitments {
  background-color: #efeff8;
  padding-top: 96px;
  padding-bottom: 190px;
}

.commitments .commited {
  font-size: 24px;
}

.commitments ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 48px;
  gap: 48px;
}

.commitments li {
  border: 1px solid #dcdce5;
  padding: 24px;
  border-radius: 12px;
}

.commitments li strong {
  display: inline-block;
  color: var(--primary);
  margin-bottom: 12px;
}

.journey {
  font-size: 28px;
  text-align: center;
  padding: 120px 180px;
}

.address {
  background-color: white;
}

.address p {
  font-size: 24px;
}

.address p.contacts {
  font-size: 14px !important;
  margin: 19px 0;
  font-weight: 500;
}

.map {
  background-color: #efeff8;
  border-radius: 16px;
  width: 600px;
  height: 450px;
  border: 0;
}

.connect-with-us {
  padding: 72px 0;
  background-color: #f5f5f5;
}

.social-links {
  text-align: center;
}

.social-links a.link {
  display: inline-block;
  margin: 18px;
}

.social-links a.link img {
  width: 96px;
}

.certifications {
  grid-template-columns: 1fr 2fr;
}

.certifications .impact {
  background: url("badge.svg") no-repeat top right;
  background-size: 64px;
  background-color: white;
}

.about {
  background: url("about-bg.svg") no-repeat,
    url("contact-bg.svg") no-repeat bottom right;
  background-color: #efeff8;
  background-size: 1100px, 480px;
  background-position: 700px -600px, bottom left;
}

.contact {
  background: url("contact-bg.svg") no-repeat left bottom fixed;
  background-color: #efeff8;
  background-size: 1000px;
}

.about .large-text {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 64px 0;
  gap: 24px;
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  height: 300px;
}

@media screen and (max-width: 1000px) {
  .header.home .top-bar .logo,
  .top-bar .logo {
    width: 180px;
  }

  body.backdrop::after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.596);
  }

  .top-bar {
    padding: 12px;
  }

  .menu {
    display: none;
    position: fixed;
    z-index: 2;
    left: 48px;
    right: 48px;
    top: 96px;
    bottom: 96px;
    background-color: white;
    border-radius: 12px;
    padding: 48px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .menu li {
    display: block;
    margin: 0;
  }

  .menu li a {
    color: #090d2c !important;
    font-size: 24px;
    display: inline-block;
    width: 100%;
    padding: 24px 0;
  }

  .menu li a:hover,
  .menu li a.active {
    color: #46af4d !important;
  }

  .toggle {
    display: inline-block;
    cursor: pointer;
  }

  .header {
    padding: 24px;
  }

  h1.headline {
    margin-top: 46px;
    font-size: 28px;
    text-align: start;
  }

  .break {
    display: inline;
  }

  .details {
    font-size: 16px;
    text-align: start;
    margin-top: 64px;
  }

  .stats {
    margin: 0;
    margin-top: 64px;
  }

  .stats > .stat {
    margin: 12px;
  }

  .stat-figure {
    font-size: 24px;
  }

  .stat-info {
    font-size: 12px;
  }

  .large-text {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }

  .why-choose {
    grid-template-columns: 1fr;
  }

  .why-choose .images {
    display: none;
  }

  .why-choose h2 {
    font-size: 24px;
  }

  .section-title {
    font-size: 24px;
  }

  .varieties {
    padding: 16px;
  }

  .varieties p {
    font-size: 16px;
  }

  .varieties .variety-cards {
    grid-template-columns: 1fr;
  }

  .variety p {
    font-size: 12px;
  }

  .variety-mug img {
    top: -180px;
    left: -16px;
  }

  .farmers {
    padding: 120px 16px;
  }

  .farmers h2 {
    font-size: 24px;
  }

  .farmers-list {
    grid-template-columns: 1fr;
  }

  .chairman {
    padding: 48px 16px;
    text-align: center;
  }

  .chairman h2 {
    font-size: 24px;
  }

  .chairman .coffee {
    width: 100%;
    object-fit: cover;
  }

  .footer {
    padding: 16px 32px;
  }

  .footer .footer-info {
    overflow-x: hidden;
    gap: 48px;
  }

  .about.varieties h1,
  .contact h1 {
    font-size: 48px;
  }

  .community-impact {
    padding: 24px;
    text-align: center;
    gap: 24px;
  }

  .community-impact h2 {
    font-size: 28px;
  }

  .community-impact p {
    font-size: 18px !important;
  }

  .community-impact .photo {
    width: 100%;
    height: auto;
  }

  .community-initiatives,
  .team,
  .commitments,
  .partnership {
    padding: 96px 24px;
  }

  .impact-cards,
  .community-initiatives .impact-cards,
  .impact-cards.mission-vision,
  .community-impact,
  .footer .footer-info,
  .chairman,
  .commitments ul {
    grid-template-columns: 1fr;
  }

  .certifications.community-impact {
    text-align: start;
  }

  .certifications.community-impact .impact p {
    font-size: 14px !important;
  }

  .partnership {
    font-size: 16px;
  }

  .map {
    width: unset;
    height: unset;
    object-fit: cover;
  }

  .address {
    text-align: start;
  }

  .gallery {
    grid-template-columns: 1fr;
  }
}
